@using Ebuy.Services.Data.Sellers

@model ProductReviewsViewModel

@inject ISellersDataService SellersData

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/product-details.css" />

<div id="product-details-container">

    <!-- Left Column -->
    <div class="left-column">
        <img data-image="@(Model.Product.ImageNames.FirstOrDefault())" src="~/uploads/img/products/@(Model.Product.ImageNames.FirstOrDefault())" alt="Product image" />

        @foreach (var imageName in Model.Product.ImageNames.Skip(1))
        {
            <img data-image="@imageName" src="~/uploads/img/products/@imageName" alt="Product image" hidden />
        }
    </div>

    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>
                <a asp-action="Products" asp-controller="Categories" asp-area="Products" asp-route-id="@Model.Product.CategoryId">
                    @Model.Product.CategoryName
                </a>
            </span>
            <h1>@Model.Product.Name</h1>
            <p>@Model.Product.Description</p>
        </div>

        <!-- Product Images -->
        <div class="product-images">
            <br />
            <div class="image-choose">
                @foreach (var imageName in Model.Product.ImageNames)
                {
                    <div style="width: 120px" class="style_prevu_kit">
                        <img data-image="@imageName" src="~/uploads/img/products/@imageName" alt="product image" />
                    </div>
                }
            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>@Model.Product.Price$</span>
            <form asp-action="AddToCart" asp-controller="ShoppingCart" asp-area="Products" asp-route-productId="@Model.Product.Id" method="post">
                <input type="submit" value="Add to cart" class="cart-btn text-uppercase" />
            </form>
        </div>
    </div>
</div>
@{
    var sellerName = this.SellersData.GetSellerUserNameByProductId(Model.Product.Id);
}
@if (sellerName == this.User.Identity.Name || this.User.IsAdmin())
{
    <div class="row edit-controls">
        <a class="btn btn-primary col-xs-5" asp-action="Edit" asp-controller="Products" asp-area="Products" asp-route-id="@Model.Product.Id">Edit</a>
        <span class="col-xs-2"></span>
        <a class="text-danger btn btn-danger col-xs-5" asp-action="Delete" asp-controller="Products" asp-area="Products" asp-route-id="@Model.Product.Id">Delete</a>
    </div>
}

@await Html.PartialAsync("_ReviewsPartial")

@if(this.User.IsReviewer() || this.User.IsAdmin())
{
    var title = Model.Reviews.Any() ? "Add Review" : "Add the first review";
    <a asp-action="Create" asp-controller="Reviews" asp-area="Administration" asp-route-productId="@Model.Product.Id" class="btn btn-primary">@title</a>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.image-choose img').on('click', function () {
                var imageName = $(this).attr('data-image');
                $('.left-column img').hide();
                $('.left-column img[data-image="' + imageName + '" ]').show();
            });
        });
    </script>
}