@model ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/product-details.css" />

<div id="product-details-container">
    
    <!-- Left Column -->
    <div class="left-column">
        <img data-image="@(Model.ImageNames.FirstOrDefault())" src="~/uploads/img/products/@(Model.ImageNames.FirstOrDefault())" alt="Product image"/>

        @foreach (var imageName in Model.ImageNames.Skip(1))
        {
            <img data-image="@imageName" src="~/uploads/img/products/@imageName" alt="Product image" hidden/>
        }
    </div>

    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>
                <a asp-action="Products" asp-controller="Categories" asp-area="Products" asp-route-id="@Model.CategoryId">
                    @Model.CategoryName
                </a>
            </span>
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
        </div>

        <!-- Product Images -->
        <div class="product-images">
            <br/>
            <div class="image-choose">
                @foreach (var imageName in Model.ImageNames)
                {
                    <div style="width: 120px" class="style_prevu_kit">
                        <img data-image="@imageName" src="~/uploads/img/products/@imageName" alt="product image"/>
                    </div>
                }
            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>@Model.Price$</span>
            <form asp-action="AddToCart" asp-controller="ShoppingCart" asp-area="Products" asp-route-productId="@Model.Id" method="post">
                <input type="submit" value="Add to cart" class="cart-btn text-uppercase"/>
            </form>
        </div>
    </div>
</div>

@if (Model.SellerUserName == this.User.Identity.Name || this.User.IsAdmin())
{
    <div class="row edit-controls">
        <a class="btn btn-primary col-xs-6" asp-action="Edit" asp-controller="Products" asp-area="Products" asp-route-id="@Model.Id">Edit</a>
        <a class="text-danger btn col-xs-6" asp-action="Delete" asp-controller="Products" asp-area="Products" asp-route-id="@Model.Id">Delete</a>
    </div>
}

@section Scripts{     
    <script>
        $(document).ready(function() {
            $('.image-choose img').on('click', function () {                
                var imageName = $(this).attr('data-image');
                $('.left-column img').hide();
                $('.left-column img[data-image="' + imageName +'" ]').show();
            });
        });
    </script>
}