@model CategoryProductsViewModel

@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>

@if (this.User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary" asp-action="Create" asp-controller="Products" asp-area="Products" asp-route-categoryId="@Model.CategoryId">Add new product</a>  
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    
    @foreach (var product in Model.Products)
    {
        <tr>
            <td><a asp-action="Details" asp-controller="Products" asp-area="Products" asp-route-id="@product.Id">@product.Name</a></td>
            <td>@product.BrandName</td>
            <td>$@product.Price</td>
            <td>
                <form asp-action="AddToCart" asp-controller="ShoppingCart" asp-area="Products" asp-route-productId="@product.Id" method="post">
                    <input type="submit" value="Add to cart" class="btn btn-success"/>
                </form>
            </td>
            <td>
                <a asp-action="Details" asp-controller="Products" asp-area="Products" asp-route-id="@product.Id" class="btn btn-block">View</a>
            </td>
            @if (this.User.IsReviewer() || this.User.IsAdmin())
            {
                <td>
                    <a asp-action="Create" asp-controller="Reviews" asp-area="Administration" asp-route-productId="@product.Id" class="btn btn-default">Add Review</a>
                </td>
            }
        </tr>
    }

    </tbody>
</table>